<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>649723793762-ipl98pvun53h5uc5qt2fo3he3tkjvd0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649723793762-ipl98pvun53h5uc5qt2fo3he3tkjvd0o</string>
	<key>API_KEY</key>
	<string>AIzaSyD2w8kSLSIsWriwLafNcHjS_SRJ9I9eDQY</string>
	<key>GCM_SENDER_ID</key>
	<string>649723793762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Velocity.Droppin</string>
	<key>PROJECT_ID</key>
	<string>droppin-1b474</string>
	<key>STORAGE_BUCKET</key>
	<string>droppin-1b474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649723793762:ios:459b99f0f2b202be</string>
	<key>DATABASE_URL</key>
	<string>https://droppin-1b474.firebaseio.com</string>
</dict>
</plist>